body{
    margin: 20px auto;
    width: 400px; 
    text-align: center;  
    font-family: Raleway, "Open Sans", sans-serif;
}

.winner{
    color: green;
}

input[type=number], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

button {
    background-color: #1b7ced;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 4px;
  }

div{
    display: flex;
    gap: 10px;
}

@media screen and (max-width: 768px) {
    body {
        width: 300px;
    }
}